<detalle-proveedor *ngIf="proveedorSeleccionado" [proveedor] ="proveedorSeleccionado"></detalle-proveedor>
<div class="card border-primary my-3" style="max-width: 100rem">
    <div class="card-header">Proveedores</div>
    <div class="card-body text-primary">
        <h2 class="card-title">Listado de Proveedores</h2>
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/proveedores/formProveedor']">
                Crear Proveedor
            </button>
        </div>
        <div *ngIf="proveedores?.length == 0" class="alert alert-info">
            No hay registros en la base de datos!
        </div>
        <table class="table table-bordered " *ngIf="proveedores?.length>0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Email</th>
                    <th>Telefono 1</th>
                    <th>Celular</th>
                    <th>Direccion</th>
                    <th>Crear Factura</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let proveedor of proveedores">
                    <td><button type="button" name="ver" (click)="abrirModal(proveedor)"
                        class="btn btn-primary btn-sm">{{ proveedor.id }}</button></td>
                    <td>{{ proveedor.nombre }}</td>
                    <td>{{ proveedor.documento }}</td>
                    <td>{{ proveedor.email }}</td>
                    <td>{{ proveedor.telefono }}</td>
                    <td>{{ proveedor.celular }}</td>
                    <td>{{ proveedor.direccion }}</td>
                    <td></td>
                    <td>
                        <button type="button" name="editar" [routerLink]="['/proveedores/formProveedor', proveedor.id]"
                            class="btn btn-success btn-sm">Editar</button>
                    </td>
                    <td>
                        <button type="button" name="eliminar" (click)='delete(proveedor)'
                            class="btn btn-danger btn-sm">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>
    </div>
</div>
