<div class="card boder-prinary text-center">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <form class="" action="index.html" method="post">
            <div class="form-goup col-sm-6 mb-3">
                <input [(ngModel)]="usuario.username" type="text" class="form-control" name="username" id="username"
                    placeholder="Nombre Usuario" autofocus required>
            </div>
            <div class="form-goup col-sm-6 mb-3">
                <input [(ngModel)]="usuario.password" type="password" class="form-control" name="password" id="password"
                    placeholder="Contraseña" required>
            </div>
            <div class="form-goup col-sm-6 mb-3">
                <input (click)='login()' type="submit" class="btn btn-lg btn-primary btn-block" value="Iniciar Sesion">
            </div>
        </form>
    </div>
</div>