<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">
  <div style="display: block" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">{{ titulo }}</h3>
          <button
            (click)="cerrarModal()"
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <ul *ngIf="cliente" class="list-group text-dark mb-3">
                  <li class="list-group-item active">{{ cliente.nombre }}</li>
                  <li class="list-group-item">
                    {{ cliente.tipo_documento.nombre }}
                  </li>
                  <li class="list-group-item">{{ cliente.documento }}</li>
                  <li class="list-group-item">{{ cliente.cargo }}</li>
                  <li class="list-group-item">{{ cliente.contacto }}</li>
                  <li class="list-group-item">{{ cliente.email }}</li>
                  <li class="list-group-item">{{ cliente.telefono }}</li>
                  <li class="list-group-item">{{ cliente.telefono1 }}</li>
                  <li class="list-group-item">
                    {{ cliente.fecha_ingreso | date: "fullDate" }}
                  </li>
                  <li class="list-group-item">
                    Ciudad: {{ cliente.ciudad.nombre }}, 
                    Departamento: {{ cliente.ciudad.departamento.departamento }},
                    Clima: {{ cliente.ciudad.clima.nombre }},
                    Altitud: {{cliente.ciudad.altitud}}
                  </li>
                </ul>
              </div>
              <!--<div class="row">
                <button
                  *ngIf="authService.hasRole('ROLE_ADMIN')"
                  type="button" class="btn btn-primary btn-sm" [routerLink]="['/facturas/form', cliente.id]">
                  Crear Factura
                </button>
              </div>
              <div class="row">
                <div
                  class="alert alert-info my-4"
                  *ngIf="cliente.facturas.length == 0"
                >
                  No hay facturas asignadas para el cliente
                  {{ cliente.nombre }} {{ cliente.apellido }}
                </div>

                <table
                  class="table table-bordered table-striped my-4"
                  *ngIf="cliente.facturas.length > 0"
                >
                  <thead>
                    <tr>
                      <th>Folio</th>
                      <th>Descripción</th>
                      <th>Fecha</th>
                      <th>Total</th>
                      <th>Detalle</th>
                      <th *ngIf="authService.hasRole('ROLE_ADMIN')">
                        Eliminar
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let factura of cliente.facturas">
                      <td>{{ factura.id }}</td>
                      <td>{{ factura.descripcion }}</td>
                      <td>{{ factura.createAt }}</td>
                      <td>{{ factura.total }}</td>
                      <td>
                        <button
                          class="btn btn-success btn-sm"
                          type="button"
                          [routerLink]="['/facturas', factura.id]"
                        >
                          Ver
                        </button>
                      </td>
                      <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                        <button
                          class="btn btn-danger btn-sm"
                          type="button"
                          (click)="delete(factura)"
                        >
                          Eliminar
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>-->
            </div>
          </div>
          <div class="modal-footer">
            <button
              (click)="cerrarModal()"
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
