<div class="card border-primary my-3" style="max-width: 100rem">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
        <h2 class="card-title">Listado De Clientes</h2>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Email</th>
                    <th>Telefono 1</th>
                    <th>Celular</th>
                    <th>Cargo</th>
                    <th>Direccion</th>
                    <th>Crear Factura</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>id</td>
                    <td>
                        foto
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>