<detalle-proveedor *ngIf="proveedorSeleccionado" [proveedor] ="proveedorSeleccionado"></detalle-proveedor>
<div class="card border-primary my-3" style="max-width: 100rem">
   <!--<div class="card-header">Listado de Proveedores</div>-->
    <div class="card-body text-primary">
      <h2 class="card-title" style="text-align:center">Listado de Proveedores</h2>
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/proveedores/formProveedor']">
                Crear Proveedor
            </button>
        </div>
        <div *ngIf="proveedores?.length == 0" class="alert alert-info">
            No hay registros en la base de datos!
        </div>
        <table class="table table-bordered " *ngIf="proveedores?.length>0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Email</th>
                    <th>Telefono 1</th>
                    <th>Celular</th>
                    <th>Direccion</th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')">Crear Factura</th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let proveedor of proveedores | paginate: { itemsPerPage: 8, currentPage: page }">
                    <td><button type="button" name="ver" (click)="abrirModal(proveedor)"
                        class="btn btn-primary btn-sm">{{ proveedor.id }}</button></td>
                    <td>{{ proveedor.nombre }}</td>
                    <td>{{ proveedor.documento }}</td>
                    <td>{{ proveedor.email }}</td>
                    <td>{{ proveedor.telefono }}</td>
                    <td>{{ proveedor.celular }}</td>
                    <td>{{ proveedor.direccion }}</td>
                    <td>
                        <button
                          *ngIf="authService.hasRole('ROLE_ADMIN')"
                          type="button"
                          name=""
                          class="btn btn-sm"
                        >
                          <angular-emojis
                            [name]="'page_facing_up'"
                            size="20"
                          ></angular-emojis>
                        </button>
                      </td>
                      <td>
                        <button
                          *ngIf="authService.hasRole('ROLE_ADMIN')"
                          type="button"
                          name="editar"
                          [routerLink]="['/proveedor/formProveedor', proveedor.id]"
                          class="btn btn-sm"
                        >
                          <angular-emojis [name]="'pencil2'" size="20"></angular-emojis>
                        </button>
                      </td>
                      <td>
                        <button
                          *ngIf="authService.hasRole('ROLE_ADMIN')"
                          type="button"
                          name="eliminar"
                          (click)="delete(proveedor)"
                          class="btn btn-sm"
                        >
                          <angular-emojis [name]="'wastebasket'" size="20"></angular-emojis>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <pagination-controls (pageChange)="page = $event"
        previousLabel="Anterior"
        nextLabel="Siguiente">
       </pagination-controls>

    </div>
</div>
